body {

margin: 0;
padding: 0;
min-height: 100vh;
font-family: "Roboto", sans-serif;

}

img {

height: 10px;
width: 10px;

}


.container {

display: grid;
grid-template-columns: 1fr 5fr;

}

.container div {



}

.side-bar {

grid-row: 1 / 4;
color: rgb(255, 255, 255);
background-color: #1992D4;

}

.dashboard-grid {

display: grid;
grid-template-columns: 1fr;
padding-right: 20px;

}

.dashboard-grid img {

justify-self: end;
align-self: center;
padding-right: 15px;
height: 20px;
width: 20px;

}

#dashboard-icon {

height: 40px;
width: 40px;

}

.top-dashboard,
.bottom-dashboard {

display: grid;
grid-template-columns: 1fr 2fr;


}

.dashboard-section {

display: grid;
grid-template-columns: 1fr 2fr;
padding-top: 10px;

}

.top-dashboard {

padding-top: 20px;

}

.bottom-dashboard {

padding-top: 40px;


}

.search-bar {

display: grid;
grid-template-columns: 1fr 5fr 1fr auto 1fr;
padding-top: 10px;
align-items: center;

}

.search-bar > img {

width: 30px;
height: 25px;

}

.search-bar img:first-child {

justify-self: end;
padding-right: 20px;

}



input[type=search] {

border-radius: 13px;
outline: none;
border: none;
background-color: rgb(227, 232, 239);
height: 25px;
width: 500px;

}

form + img {

justify-self: end;


}

img + img {

width: 40px !important;
height: 40px !important;
border-radius: 50px;
margin-left: 25px;

}

.search-bar p {

margin: 0;
justify-self: center;
align-self: center;
font-weight: 700;

}

.profile-bar {

display: grid;
grid-template-columns: auto 3fr 1fr;
margin-top: 20px;
margin-right: 50px;

}

.profile-bar-image {

display: grid;

}

.profile-bar-image img {

margin-left: 80px;
width: 60px;
height: 60px;
border-radius: 70px;
justify-self: center;
align-self: center;

} 

.profile-bar-name {

margin-left: 20px;

}

p + p {

font-weight: 700;
font-size: larger;

}

.profile-bar-buttons {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
height: 30px;


}

.profile-bar-buttons button {

background-color: #1992D4;
color: white;
border-radius: 50px;
border: none;

}

.profile-bar-buttons {

align-self: center;

}

.header {

box-shadow: 0px 2px 4px silver;

}






